.semaforo {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.semaforo .div {
  background-color: #ffffff;
  width: 1280px;
  height: 832px;
  position: relative;
}

.semaforo .bueno-usuario {
  position: absolute;
  width: 98px;
  height: 109px;
  top: 64px;
  left: 591px;
  background-color: #32cd32;
  border-radius: 50px;
}

.semaforo .overlap {
  position: absolute;
  width: 701px;
  height: 582px;
  top: 193px;
  left: 289px;
}

.semaforo .overlap-group {
  position: absolute;
  width: 636px;
  height: 558px;
  top: 0;
  left: 33px;
}

.semaforo .text-wrapper {
  position: absolute;
  width: 489px;
  top: 0;
  left: 73px;
  font-family: "DM Sans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.semaforo .rectangle {
  position: absolute;
  width: 243px;
  height: 636px;
  top: -9px;
  left: 196px;
  background-color: #000000cc;
  border-radius: 50px;
  border: 5px solid;
  border-color: #000000;
  transform: rotate(-90deg);
}

.semaforo .preemergencia {
  position: absolute;
  width: 80px;
  height: 81px;
  top: 268px;
  left: 409px;
}

.semaforo .alerta-usuario {
  position: absolute;
  width: 80px;
  height: 81px;
  top: 268px;
  left: 282px;
}

.semaforo .regular-usuario {
  position: absolute;
  width: 80px;
  height: 81px;
  top: 268px;
  left: 152px;
}

.semaforo .rectangle-2 {
  position: absolute;
  width: 140px;
  height: 58px;
  top: 500px;
  left: 149px;
  background-color: #448cff;
  border-radius: 30px;
  opacity: 0.9;
}

.semaforo .sign-in {
  position: absolute;
  width: 107px;
  top: 515px;
  left: 165px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.07px;
  line-height: normal;
}

.semaforo .rectangle-3 {
  position: absolute;
  width: 140px;
  height: 58px;
  top: 500px;
  left: 345px;
  background-color: #448cff;
  border-radius: 30px;
  opacity: 0.9;
}

.semaforo .sign-in-2 {
  top: 515px;
  left: 361px;
  position: absolute;
  width: 107px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.07px;
  line-height: normal;
}

.semaforo .emergencia-usuario {
  position: absolute;
  width: 80px;
  height: 81px;
  top: 268px;
  left: 564px;
}

.semaforo .bueno-usuario-2 {
  position: absolute;
  width: 81px;
  height: 80px;
  top: 269px;
  left: 65px;
  background-color: #32cd32;
  border-radius: 50px;
  transform: rotate(-90deg);
  box-shadow: inset 0px 4px 4px #00000040;
}

.semaforo .overlap-2 {
  position: absolute;
  width: 140px;
  height: 58px;
  top: 500px;
  left: 0;
  border-radius: 30px;
}

.semaforo .rectangle-4 {
  position: absolute;
  width: 140px;
  height: 58px;
  top: 0;
  left: 0;
  background-color: #448cff;
  border-radius: 30px;
  opacity: 0.9;
}

.semaforo .sign-in-3 {
  top: 15px;
  left: 16px;
  position: absolute;
  width: 107px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.07px;
  line-height: normal;
}

.semaforo .overlap-3 {
  position: absolute;
  width: 140px;
  height: 82px;
  top: 500px;
  left: 561px;
}

.semaforo .sign-in-4 {
  top: 1px;
  left: 16px;
  position: absolute;
  width: 107px;
  font-family: "Nunito Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.07px;
  line-height: normal;
}
